<!doctype html>
<html lang="en">
{{> header }}
<body>
	<header>
		{{> main_nav }}
	</header>
	<a class="btn" href="/project"><- Back to Index</a>
	<div class="container">
		<div>
			<p>
				<b>Created</b>: {{ date }}
			<br>
			{{#if updated}}
			<b>Updated</b>: {{ updated }}
			{{/if}}
			</p>
			
		</div>
		{{{ contents }}}
	</div>
	
	{{> footer }}
	<link rel="stylesheet" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
	
</body>
</html>
